@font-face {
   font-family: 'Questrial';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/mobirise/vietnamexcellence/en/best-practice/2023/fonts/Questrial/regular.ttf') format('truetype');
}
